<app-menu></app-menu>
<section class="wow fadeIn">
  <h1 class="center-align" style="font-weight: bolder">Fisiomedical Center</h1>
  <div class="slider" materialize="slider">
    <ul class="slides">
      <li>
        <img src="./assets/img/banner1.jpg">
      </li>
    </ul>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3>Quienes Somos</h3>
        <div class="sep"></div>
        <p class="text-about">Somos una empresa destinada a la prestación de servicios de salud enfocados en la rehabilitación física del
          cuerpo humano; Nuestro constante reto es garantizar a nuestros usuarios una atención personalizada, oportuna,
          eficaz, acompañada de sensibilidad y valores humanos, con el objetivo de guiarlos a la autonomía, la
          independencia, la participación e integración familiar y social.</p>
      </div>
    </div>
    <div class="row">

        <div class="col s12 m6">
        <h3>Mision</h3>
        <div class="sep"></div>
        <p class="text-about">Somos una institución que ofrece servicios de salud encaminados en la rehabilitación física integral,
          contamos
          con profesionales idóneos, con calidez humana y en constante crecimiento de sus conocimientos, nuestra
          infraestructura y tecnología en alcances terapéuticos nos permiten ofrecer una recuperación rápida a nuestros
          usuarios.</p>

      </div>
      <div class="col s12 m6">
        <h3>Vision</h3>
        <div class="sep"></div>
        <p class="text-about">Ser reconocidos como un centro de rehabilitación integral por su excelencia en la ejecución de procesos,
          altos
          estándares de calidad, atención en los servicios de salud a nuestros usuarios, trato humanizado y
          personalizado.</p>
      </div>
      <div class="col s12">
        <h3>Valores Corporativos</h3>
        <div class="sep"></div>
        <ul class="text-about">
          <li>RESPONSABILIDAD: Expresada en el cumplimiento de los compromisos adquiridos.</li>
          <li>ACTITUD DE SERVICIO: Manifestada en un trato humano, calido con actitud permanente de amabilidad, disponibilidad y entrega.</li>
          <li>SOLIDARIDAD: Traducida en el compartir y participar en las situaciones de necesidad y carencia dentro de un marco de humanización y justicia.</li>
          <li>VERDAD: Expresión de autenticidad y honestidad, lo cual da seguridad al ejercicio profesional y despierta la confianza de quien acude a la institución.</li>
          <li>PRUDENCIA: Manifestada a través de un comportamiento ético, de respeto y reflexión frente a las realidades de las personas e instituciones.</li>
          <li>SENTIDO DE PERTENENCIA: Se manifiesta por la entrega y lealtad hacia la institución.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
