h3{
  margin-bottom: 0;
}

.service-content{
  font-size: 1.8rem;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  color: rgb(85, 85, 85);

}

.title-service{
  color: rgb(85, 85, 85);
}
