<section id="services">
  <div class="container">
    <h3>Servicios</h3>
    <div class="sep"></div>
    <div class="row">
      <div class="col s12 m4">
        <a (click)="goService('fisioterapia')">
          <div class="card wow fadeInLeft hoverable" data-wow-offset="40" data-wow-delay="1s">
            <div class="card-image">
              <img src="./assets/img/physioServices.jpg">
            </div>
            <div class="card-content">
              <span class="card-title center-align">Fisioterapia</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m4">
        <a (click)="goService('terapiaRespiratoria')">
          <div class="card wow zoomIn hoverable" data-wow-offset="10" data-wow-delay="1.5s">
            <div class="card-image">
              <img src="./assets/img/terapiaRespiratoria.jpg">
            </div>
            <div class="card-content">
              <span class="card-title center-align">Terapia Respiratoria</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m4">
        <a (click)="goService('terapiaOcupacional')">
          <div class="card wow fadeInRight hoverable" data-wow-offset="10" data-wow-delay="1.5s">
            <div class="card-image">
              <img src="./assets/img/ocupationalTherapy.jpg">
            </div>
            <div class="card-content">
              <span class="card-title center-align">Terapia ocupacional</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <a (click)="goService('fonoaudiologia')">
          <div class="card wow fadeInLeft hoverable" data-wow-offset="30" data-wow-delay="1.5s">
            <div class="card-image">
              <img src="./assets/img/phonoaudiology.jpg" class="responsive-img">
            </div>
            <div class="card-content">
              <span class="card-title center-align">Fonoaudilogia</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a (click)="goService('presoterapia')">
          <div class="card wow fadeInRight hoverable" data-wow-offset="30" data-wow-delay="1.5s">
            <div class="card-image">
              <img src="./assets/img/generalMedicine.jpg">
            </div>
            <div class="card-content">
              <span class="card-title center-align">Terapia Manual Drenaje Linfatico Con Bomba - Presoterapia</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <h3>Servicios Domiciliarios</h3>
    <div class="sep"></div>
    <div class="row">
      <div class="col s12 m6">
        <a (click)="goService('fisioterapia')">
          <div class="card wow fadeInLeft hoverable" data-wow-offset="40" data-wow-delay="1s">
            <div class="card-image">
              <img src="./assets/img/physioServices.jpg">
            </div>
            <div class="card-content">
              <span class="card-title center-align">Fisioterapia</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a (click)="goService('terapiaRespiratoria')">
          <div class="card wow zoomIn hoverable" data-wow-offset="10" data-wow-delay="1.5s">
            <div class="card-image">
              <img src="./assets/img/terapiaRespiratoria.jpg">
            </div>
            <div class="card-content">
              <span class="card-title center-align">Terapia Respiratoria</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <a (click)="goService('terapiaOcupacional')">
          <div class="card wow fadeInRight hoverable" data-wow-offset="10" data-wow-delay="1.5s">
            <div class="card-image">
              <img src="./assets/img/ocupationalTherapy.jpg">
            </div>
            <div class="card-content">
              <span class="card-title center-align">Terapia ocupacional</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s12 m6">
        <a (click)="goService('fonoaudiologia')">
          <div class="card wow fadeInLeft hoverable" data-wow-offset="30" data-wow-delay="1.5s">
            <div class="card-image">
              <img src="./assets/img/phonoaudiology.jpg">
            </div>
            <div class="card-content">
              <span class="card-title center-align">Fonoaudilogia</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

