<section class="panel-card wow fadeInLeft" data-wow-offset="40" data-wow-delay="0.5s" style="margin-bottom: 0">
  <div class="center-align title-panel">
    <h2>Fisiomedical Center</h2>
  </div>
  <div class="container body-panel">
    <div class="row">
      <div class="col s12 m4 wow fadeIn" data-wow-offset="40" data-wow-delay="1.5s">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <i aria-hidden="true" class="fa fa-user-circle-o fa-4x icon-panel"></i>
            </div>
            <h4 class="card-text">Profesionales Experimentados</h4>
            <h6 class="card-subtitle mb-2 text-muted">Nuestros profesionales tienen muchos años de experiencia</h6>
          </div>
        </div>
      </div>
      <div class="col s12 m4 wow fadeIn" data-wow-offset="40" data-wow-delay="1.9s">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <i aria-hidden="true" class="fa fa-id-card-o fa-4x icon-panel"></i>
            </div>
            <h4 class="card-text">Terapeutas Entrenados</h4>
            <h6 class="card-subtitle mb-2 text-muted">Nuestros terapeutas estan totalmente entrenados en los mas altos
              standares de calidad</h6>
          </div>
        </div>
      </div>
      <div class="col s12 m4 wow fadeIn" data-wow-offset="40" data-wow-delay="2.3s">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <i aria-hidden="true" class="fa fa-building-o fa-4x icon-panel"></i>
            </div>
            <h4 class="card-text">Clínica Completamente Equipada</h4>
            <h6 class="card-subtitle mb-2 text-muted">Nuestra clínica está completamente equipada con el mejor
              equipo</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

